.copyright {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  margin: auto;
  position: fixed;
  bottom: 20px;
  color: #eee;
  z-index: 100;
}

.copyright-link {
  color: #fbd000;
  text-decoration: none;
}
